{% extends "layout/admin.njk" %}

{% block content %}
  <section>
    <form 
      class="form" 
      enctype="multipart/form-data"
      action="/admin/recipes?_method=PUT" 
      method="POST"
    >
      <div class="form__group">
        <h1>Editando receita</h1>

        <div>
          <button type="button" id="open" class="button button--danger">
            Deletar
          </button>
          <button type="submit" class="button">Salvar receita</button>
        </div>
      </div>

      <input type="hidden" name="id" value={{ recipe.id }}>
      {% include 'admin/recipes/fields.njk' %}
    </form>

    <div class="modal__overlay">
      <div class="modal">
        <h3 class="modal__title">Deseja realmente remover este produto ?</h3>
        <form class="modal__form" action="/admin/recipes?_method=DELETE" method="POST">
          <input type="hidden" name="id" value={{ recipe.id }}>
          <button type="button" id="cancel" class="button">Cancelar</button>
          <button type="submit" class="button button--danger">Remover</button>
        </form>
      </div>
    </div>
  </section>  
{% endblock %}

{% block scripts %}
<script src="/js/clone-field.js"></script>
<script src="/js/modal-delete.js"></script>
<script src="/js/upload.js"></script>
{% endblock %}