<div class="form__group">
  <label>* Imagem da receita</label>
  <input 
    multiple 
    name="photos"
    accept="image/*" 
    type="file" 
    id="upload-input" 
    onchange="PhotoUpload.handleInput(event)"
    hidden
  >
  <div class="upload-container">
    <label for="upload-input" class="upload-btn">
      <i class="material-icons">add</i>
    </label>

    {% if images %}
      {% for image in images %}
        <div class="photo" id="{{ image.id }}">
          <img src="{{ image.src }}" alt="{{ image.name }}">
          <i class="material-icons" onclick="PhotoUpload.removeOldPhoto(event)">
            close
          </i>
        </div>
      {% endfor %}
      <input type="hidden" name="removed_files">
    {% endif %}
  </div>
</div>

<div class="form__group">
  <label>* Nome da receita</label>
  <input type="text" name="title" value="{{ recipe.title }}">
</div>

<div class="form__group">
  <label>* Chef</label>
  <select name="chef_id">
    {% for chef in chefs %}
      {% if recipe.chef_id === chef.id %}
        <option selected value="{{ chef.id }}">
          {{ chef.name }}
        </option>
      {% else %}
        <option value="{{ chef.id }}">
          {{ chef.name }}
        </option>
      {% endif %}
    {% endfor %}
  </select>
</div>

<div class="form__group">
  <label>* Ingredientes</label>
  <div class="fields">
    {% if recipe.ingredients.length > 0 %}
      {% for ingredient in recipe.ingredients %}
        <input type="text" name="ingredients[]" value="{{ ingredient }}">
      {% endfor %}
    {% else %}
      <input type="text" name="ingredients[]">
    {% endif %}
  </div>
  <a href="#">Adicionar novo ingrediente</a>
</div>

<div class="form__group">
  <label>* Modo de preparo</label>
  <div class="fields">
    {% if recipe.preparation.length > 0 %}
      {% for preparation in recipe.preparation %}
        <input type="text" name="preparation[]" value="{{ preparation }}">
      {% endfor %}
    {% else %}
      <input type="text" name="preparation[]">
    {% endif %}
  </div>
  <a href="#">Adicionar novo passo</a>
</div>

<div class="form__group">
  <label>Informações adicionais</label>
  <textarea name="information">{{ recipe.information }}</textarea>
</div>