<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include "layout/head.njk" %}
    <title>Foodfy | Admin</title>
  </head>
  <body>
    <header class="header-admin">
      <div class="container">
        <a class="header-admin__brand" href="/admin/recipes">
          <img src="/assets/logo-white.png" alt="Foodfy" />
        </a>
        <nav>
          <a class="header-admin__link" href="/admin/recipes">Receitas</a>
          <a class="header-admin__link" href="/admin/chefs">Chefs</a>
        </nav>
      </div>
    </header>

    <main class="container">
      {% block content %}{% endblock %}
    </main>

    <script src="/js/menu-active.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>