<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include "layout/head.njk" %}
    <title>Foodfy</title>
  </head>
  <body>

    {# HEADER #}
    <header class="header">
      <div class="container">
        <a class="header__brand" href="/">
          <img src="/assets/logo.png" alt="Foodfy" />
        </a>
        <nav class="header__menu">
          <a class="header__link" href="/about">Sobre</a>
          <a class="header__link" href="/recipes">Receitas</a>
          <a class="header__link" href="/chefs">Chefs</a>
        </nav>

        {% block header_form %}{% endblock %}
      </div>
    </header>

    {# MAIN #}
    <main class="container">
      {% block content %}{% endblock %}
    </main>

    {# FOOTER #}
    <footer class="footer">
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    <script src="/js/menu-active.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>