/* PAGE ABOUT */
.page-about {
  padding: 5rem 0;
}

.page-about > h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.page-about > p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--color-grey-dark);
  margin-bottom: 3rem;
}

.page-about > h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* PAGE DETAILS */
.page-detail {
  padding: 5rem 0;
}

.page-detail__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.page-detail__action > h2 {
  font-size: 2.4rem;
}

.page-detail__header {
  text-align: center;
  margin-bottom: 5rem;
}

.page-detail__header h1 {
  font-size: 3.6rem;
  margin-bottom: 4px;
}

.page-detail__header span {
  font-size: 2rem;
  color: var(--color-grey);
}

.page-detail__content {
  margin-bottom: 4rem;
}

.page-detail__content p {
  color: var(--color-grey-dark);
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.page-detail__content li {
  list-style: none;
  color: var(--color-grey-dark);
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.page-detail__content li::before {
  content: "\2022";
  color: var(--color-grey-dark);
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.page-detail__content > div:first-child {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.page-detail__content > div:first-child h3 {
  font-size: 2.4rem;
  line-height: 2rem;
}

.page-detail__content > div:first-child a {
  font-size: 1.2rem;
  color: var(--color-grey-medium);
  text-transform: uppercase;
  margin-left: 0.8rem;
}

.page-detail__chef {
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.page-detail__chef img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
}

.page-detail__chef h1 {
  font-size: 3.6rem;
  font-weight: bold;
  margin-top: 2rem;
}

.page-detail__chef span {
  font-size: 2rem;
  color: var(--color-grey);
}

/* ADMIN: GENERAL */
.admin-home {
  margin: 5rem 0;
}

.admin-home > h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.admin-home > a {
  margin-top: 3rem;
}

.admin-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.admin-grid__item {
  display: flex;
}

.admin-grid__item div:first-child {
  margin-right: 2rem;
  width: 17rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.8rem;
}

.admin-grid__item div:last-child h3 {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.admin-grid__item div:last-child span {
  font-size: 1.4rem;
  color: var(--color-grey);
}

.admin-grid__item div:last-child a {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--primary-color);
}

@media only screen and (max-width: 800px) {
  .admin-grid {
    grid-template-columns: 100%;
  }
}

/* CHEFS */
.chefs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  align-items: center;
}

.chef {
  display: flex;
  align-items: center;
}

.chef__image {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  object-fit: cover;
}

.chef__content {
  margin-left: 2rem;
}

.chef__content h2 {
  font-size: 1.8rem;
  font-weight: normal;
}

.chef__content a {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--primary-color);
}

.chef__content span {
  font-size: 1.4rem;
  color: #666666;
}

/* PAGE CHEFS */
.page-chefs {
  padding: 5rem 0;
}
