{% extends "layout/page.njk" %}

{% block content %}
  <section class="page-detail">
    <header class="page-detail__header">
      <div class="gallery">
        <img src="{{ recipe.images[0].src }}" alt="{{ recipe.title }}">
        <div 
          class="gallery-thumbnails" 
          style="grid-template-columns: repeat({{recipe.images.length}}, 80px)"
        >
          {% for image in recipe.images %}
            <img 
              src="{{image.src}}" 
              alt="photo-{{image.name}}"
              onclick="Gallery.setImage(event)"
              {% if loop.index0 === 0 %}
                class='active'
              {% endif %}
            >
          {% endfor %}
        </div>
      </div>

      <h1>{{ recipe.title }}</h1>
      <span>por {{ recipe.author }}</span>
    </header>

    <div class="page-detail__content">
      <div class="page-detail__heading">
        <h3>Ingredientes</h3>
        <a class="toggle" data-target="ingredients" href="#">Esconder</a>
      </div>
      
      <ul id="ingredients">    
        {% for ingredient in recipe.ingredients %}
          <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="page-detail__content">
      <div>
        <h3>Modo de preparo</h3>
        <a class="toggle" data-target="preparation" href="#">
          Esconder
        </a>
      </div>
      <ul id="preparation">    
        {% for item in recipe.preparation %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>

    {% if recipe.information %}
      <div class="page-detail__content">
        <div>
          <h3>Informações adicionais</h3>
          <a class="toggle" data-target="information" href="#">
            Esconder
          </a>
        </div>
        <p id="information">{{ recipe.information }}</p>
      </div>
    {% endif %}
  </section>
{% endblock %}

{% block scripts %}
  <script src="/js/collapse.js"></script>
  <script src="/js/gallery.js"></script>
{% endblock %}