{% extends "layout/admin.njk" %}

{% block content %}
  <section>
    <form class="form" action="/admin/chefs?_method=PUT" method="POST">
      <div class="form__group">
        <h1>Editando chef</h1>

        <div>
          <button type="button" id="open" class="button button--danger">
            Deletar
          </button>
          <button type="submit" class="button">Salvar chef</button>
        </div>
      </div>

      <input type="hidden" name="id" value={{ chef.id }}>
      {% include 'admin/chefs/fields.njk' %}
    </form>

    <div class="modal__overlay">
      <div class="modal">
        <h3 class="modal__title">Deseja realmente remover o chefe ?</h3>
        <form class="modal__form" action="/admin/chefs?_method=DELETE" method="POST">
          <input type="hidden" name="id" value={{ chef.id }}>
          <button type="button" id="cancel" class="button">Cancelar</button>
          <button type="submit" class="button button--danger">Remover</button>
        </form>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="/js/modal-delete.js"></script>
{% endblock %}