<div class="form__group">
  <label>Nome</label>
  <input type="text" name="name" value="{{ chef.name }}">
</div>

<div class="form__group">
  <label>Avatar</label>
  {% if chef.filename %}
    <input value={{ chef.filename }} class="image-url" disabled type="text">
  {% else %}
    <input style="display: none" class="image-url" disabled type="text">
  {% endif %}
  
  <input 
    accept="image/*"  
    id="photo" 
    name="photo" 
    type="file" 
    onchange="UploadSingle.handleInput(event)"
    hidden
  >
  <label class="upload-label" for="photo">
    Enviar Avatar
  </label>
</div>