{% extends "layout/admin.njk" %}

{% block content %}
  <section class="admin-home">
    <h1>Gerenciar chefs</h1>

    <div class="chefs">
      {% for chef in chefs %}
        <div class="chef">
          <img class="chef__image" src="{{ chef.image }}" alt="{{ chef.name }}">
          <div class="chef__content">
            <h2>{{ chef.name }}</h2>
            <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>

    <a class="button" href="/admin/chefs/create">Novo Chef</a>

  </section>
{% endblock %}