{% extends "layout/admin.njk" %}

{% block content %}
  <section class="page-detail">
    <div class="page-detail__action">
      <h2>Chef: {{ chef.name }}</h2>
      <a class="button" href="/admin/chefs/{{chef.id}}/edit">Editar chef</a>
    </div>

    <header class="page-detail__chef">
      <img src="{{ chef.image }}" alt="{{ chef.name }}">
      <h1>{{ chef.name }}</h1>
      {% if chef.total_recipes > 1 %}
        <span>{{ chef.total_recipes }} receitas</span>
      {% elif chef.total_recipes == 1 %}
        <span>{{ chef.total_recipes }} receita</span>
      {% else %}
        <span>sem receitas</span>
      {% endif %}
    </header>

    {% if recipes.length > 0 %}
      <div class="page-detail__content">
        <div>
          <h3>Receitas</h3>
        </div>
        <div class="admin-grid" style="padding-top: 1rem;">
          {% for recipe in recipes %}
            <div class="admin-grid__item">
              <div style="background-image: url({{ recipe.image }})"></div>
              <div>
                <h3>{{ recipe.title }}</h3>
                <span>por {{ recipe.author }}</span>
                <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
              </div>
            </div>
          {% endfor %}
        </div>  
      </div>
    {% endif %}

  </section>
{% endblock %}